body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    color: white;
}

form {
    margin: 50px 0;
}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background: #f1f1f1;
}
